.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 0vh;
    margin: 0;
}

body.inicio{
    background-color:#d69a9a ;
}


.card{
    width: 300px;
    background-color: #10d6b5;
    padding: 20px;
    margin: 20px;
    border: 1px solid #000000;
    border-radius: 21px;
}
.card h2{
    color: rgb(255, 255, 255);
}

.card p{
    color: #000000;
}
.card button{
    background-color: #ffffff;
    color: white;
    border: none;
    padding: 10px 20px;
}

.footer{
    background-color: rgb(0, 136, 255);
}


p.nuestra_hisoria{
   background-color: aqua  ;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size: 25px;
    font-weight: bold
}
